[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
[submodule "public"]
	path = public
	url = git@github.com:stockapi/stockapi.github.io.git
